<main>
  <div class="login-container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <h2>Iniciar Sesión</h2>

      <div>
        <label for="email">Usuario:</label>
        <input type="text" id="email" name="email" ngModel required>
      </div>

      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" ngModel required>
      </div>

      <button class="button" id="loginBtn" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      
    </form>

    <p>¿Eres administrador? <a routerLink="/login">Ingresa al portal</a></p>

  </div>
</main>
