<main class="main">
    <h1 class="contact">Contáctanos</h1>
    <section id="containerContact">
        <img src="assets/images/sede.png" alt="sede" id="sede" height="300px">
        <h2>Pontificia Universidad Javeriana</h2>
        <p>
            Nos encontramos en la Universidad Javeriana, dentro del Edificio de Ingeniería, en el piso 10,
            consultorio 352. Nuestras instalaciones están diseñadas para ofrecer el mejor cuidado y confort
            a sus mascotas, contando con tecnología de última generación.
        </p>
    </section>

    <section id="containerInfo">
        <h2>Teléfono</h2>

        <p>Llámanos al: (601) 271-1401. <br />Nuestro personal está disponible para atender tus consultas
            y brindarte la información que necesitas.</p>
    </section>

    <section id="containerInfo">
        <h2>Correo Electrónico</h2>

        <p>Para consultas generales, puedes enviarnos un correo a: info@doggydr.com</p>
    </section>

    <section id="containerInfo">
        <h2>Horarios de Atención</h2>

        <p>Lunes a Viernes: 8:00 AM - 6:00 PM</p>
        <p>Sábados: 9:00 AM - 3:00 PM</p>
        <p>Domingos: Cerrado</p>
    </section>

    <section id="containerInfo">
        <h2 class="formsub">Formulario de Contacto</h2>
        <p>¿Tienes alguna pregunta o necesitas más información?
            Llena el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>

        <div class="form-container">
            <form (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" [(ngModel)]="formData.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo" [(ngModel)]="formData.correo" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="celular">Celular:</label>
                        <input type="number" id="celular" name="celular" [(ngModel)]="formData.celular" required>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <input type="text" id="mensaje" name="mensaje" [(ngModel)]="formData.mensaje" required>
                    </div>
                    <!--<div class="form-group">
                        <label for="date">Fecha:</label>
                        <input type="date" id="date" name="date" [(ngModel)]="formData.date" required>
                    </div> -->
                </div>
                <div class="form-group" id="button">
                    <input type="submit" value="Registrar">
                </div>
            </form>
        </div>
    </section>
</main>