<header class="header">
    <a href="/inicio">
        <div class="header-left">
            <img src="assets/images/logo.webp" alt="logo">
            <h1>Unlock</h1>
        </div>
    </a>
    <div class="header-center">
        <ul class="index-menu">
            <li class="menu-elem" id="ME1">
                <a [routerLink]="['/home']">Inicio</a>
            </li>
            <li class="menu-elem" id="ME2">
                <a [routerLink]="['/eventos']">Eventos</a>
            </li>
            <li class="menu-elem" id="ME3">
                <a [routerLink]="['/alojamientos']">Alojamientos</a>
            </li>
            <li class="menu-elem" id="ME5">
                <a [routerLink]="['/contacto']">Contacto</a>
            </li>
            <li class="menu-elem" id="ME5">
                <a [routerLink]="['/login']">Login</a>
            </li>
        </ul>
    </div>
    <div class="header-right">
        <button class="button" routerLink="/user/registro">Crea tu cuenta </button>
    </div>
</header>