<main class="main">
    <div>
        <div class="outer-container">
            <div class="title-button-container">
                <h1>Eventos</h1>
                <div class="button-container">
                    <a [routerLink]="['/event/add']" class="btn btn-info" id="btnAgregarEvento">Agregar</a>
                </div>
            </div>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-container">
            <input
                type="text"
                [(ngModel)]="searchQuery"
                placeholder="Buscar evento por nombre..."
                class="search-input"
            />
        </div>

        <!-- Contenedor de cartas -->
        <div class="cards-container">
            <!-- Genera las tarjetas filtrando por búsqueda -->
            <div *ngFor="let event of filteredEvents()" class="card">
                <img [src]="event.imagen_url" alt="{{ event.nombre }}" class="card-image" />
                <div class="card-content">
                    <h3 class="card-title">{{ event.nombre }}</h3>
                    <p class="card-place">Lugar: {{ event.ciudad }}</p>
                    <p class="card-date">Fecha: {{ event.fecha_hora }}</p>
                    <p class="card-price">Precio: {{ event.precio | currency }}</p>
                    <p class="card-aforo">Aforo: {{ event.aforo_evento }}</p>
                    <p class="card-status">
                        Estado: {{ event.status === 'Activo' ? 'Activo' : 'Inactivo' }}
                    </p>
                </div>
                <div class="card-actions">
                    <button class="btn btn-info" (click)="openReservationModal(event)">Reservar</button>
                </div>
            </div>
        </div>

        <!-- Modal de Reservar -->
        <app-reserva
            *ngIf="selectedEvent"
            [location]="selectedEvent.ciudad"
            [date]="selectedEvent.fecha_hora"
            [evento]="selectedEvent"
            (close)="closeReservationModal()"
        ></app-reserva>
    </div>
</main>
