<main class="main">
  <div class="success-container">
    <h1>Reserva Exitosa</h1>

    <div *ngIf="registro; else noRegistro">
      <p>¡Gracias por tu reserva!</p>
      <p>Detalles de la reserva:</p>
      <ul>
        <li><strong>Evento:</strong> {{ registro.evento.nombre }}</li>
        <li><strong>Lugar:</strong> {{ registro.evento.ciudad }}</li>
        <li><strong>Fecha y Hora:</strong> {{ registro.evento.fecha_hora | date: 'short' }}</li>
        <li><strong>Estado del Pago:</strong> {{ registro.estadoPago }}</li>
        <li><strong>Fecha de Registro:</strong> {{ registro.fechaRegistro | date: 'short' }}</li>
      </ul>
      <div class="button-container">
        <button class="btn btn-primary" (click)="onViewBooking()">Ver Reserva</button>
      </div>
    </div>

    <ng-template #noRegistro>
      <p>No hay información de la reserva. Por favor, vuelve a intentar.</p>
    </ng-template>
  </div>
</main>