<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>Cra. 7 #40 - 62, Bogotá, Colombia</p>
            <p>info&#64;unlock.com</p>
            <p>© 2024. • Privacidad • Términos • condiciones</p>
        </div>
        <div class="footer-center">
          <img src="assets/images/logo.webp" alt="logo" height="100px" >
        </div>
        <div class="footer-right">
            <ul class="footer-menu">
                <li><a [routerLink]="['/eventos']">Eventos</a></li>
                <li><a [routerLink]="['/alojamientos']">Alojamientos</a></li>
                <li><a [routerLink]="['/login']">Login</a></li>
                <li><a [routerLink]="['/contact']">Contacto</a></li>
            </ul>
            
        </div>
    </div>
</footer>